* {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  text-transform: uppercase;
}

.tamplate {
  padding-top: 5rem;
}

.header-content {
  padding: 1%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  font-size: 20px;
}

.secondary-header-content {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.site-header {
  position: fixed;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.436);
  z-index: 999;
}

a {
  color: black;
  text-decoration: none;
}

.hello-text {
  font-size: calc(0.3rem + 25.5vw);
  display: flex;
  margin-top: 10%;
}

.welcome-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.input-validation-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: x-large;
  margin-top: 1%;
  margin-bottom: 5%;
}

.text-container {
  font-size: 6rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mobile-text-container {
  display: none;
}

.main-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-title-container > div > h1 {
  font-weight: 900;
  font-size: 6rem;
}

.about-me-menu {
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.aboutme {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-img {
  position: fixed;
  margin-bottom: 20%;
  margin-left: 60%;
}

.form-box {
  font-size: 2rem;
  padding: 4rem;
}

.form-img {
  position: absolute;
  bottom: 0;
}

.main-title-container > div > ul {
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.main-title-container > div > form {
  font-weight: 200;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vication-page {
  display: grid;
  grid-template-columns: auto auto auto;
}

.mobile-header {
  display: none;
}

.menu-line {
  width: 100%;
  height: 2px;
  background-color: black;
}

.nav-mobile {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  display: none;
  z-index: 999;
}

.active {
  display: flex;
}

.images-container {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
}

.images-container > div > img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.country-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1500px) {
  .text-container {
    font-size: 3.2rem;
  }
}

@media (max-width: 1000px) {
  .mobile-text-container {
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .aboutme {
    padding-right: 40%;
  }
  .about-img {
    margin-bottom: 70%;
    margin-right: 7%;
  }
  .about-img > img {
    width: 100%;
  }
  .text-container {
    font-size: 1.5rem;
  }

  .secondary-header-content {
    display: none;
  }

  .mobile-header {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
  }
}

@media (max-width: 700px) {
  .aboutme {
    padding: 0 2px 0 2px;
    font-size: medium;
  }
  .about-img {
    display: none;
  }
  .form-img {
    display: none;
  }
  .main-title-container > div > h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }

  .form-box {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
  }

  .main-title-container > div > ul {
    font-size: 1.2rem;
    margin-top: 8%;
  }
  .input-validation-text {
    display: none;
  }
  .text-container {
    display: none;
  }
}
